<div>
  <mat-toolbar class="topbar-nav">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon
        class="mat-icon"
        matRipple
        [matRippleCentered]="true"
        [matRippleUnbounded]="true"
        [matRippleRadius]="radius"
        (click)="toggleSidebar()"
        >menu</mat-icon
      >
    </button>
    <button mat-icon-button class="example-icon" >
            <img class="logo-gmail" src="https://ssl.gstatic.com/ui/v1/icons/mail/rfr/logo_gmail_lockup_default_1x_r2.png" alt="">
    </button>
    <!-- <span class="example-spacer"></span> -->
  </mat-toolbar>
</div>
